<div class="Countdown" ng-show="countdown.isLoaded">

  <div ng-if="!countdown.isLive" ng-cloak>
    <h3 class="Countdown-title">Join Us Online In</h3>

    <div class="Countdown-digits">
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_days }">{{ countdown.days }} days, </span>
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_hours }">{{ countdown.hours }} hrs, </span>
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_minutes }">{{ countdown.minutes }} min, </span>
      <span class="Countdown-digit">{{ countdown.seconds }} sec </span>
    </div>
  </div>

  <div ng-if="countdown.isLive">
    <h3 class="Countdown-title">We're live!</h3>
  </div>

  <div class="Countdown-buttons">
    <a class="Countdown-button" href="http://icampus.faithpromise.org">Watch Online</a>
    <a class="Countdown-button" href="/sermons">Past Sermons</a>
  </div>

</div>