<a class="Countdown" href="http://icampus.faithpromise.org">

  <div ng-if="!countdown.isLive">
    <h3 class="Countdown-title">Watch Online In</h3>

    <div class="Countdown-digits" ng-hide="countdown.isLoaded">...</div>
    <div class="Countdown-digits" ng-show="countdown.isLoaded">
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_days }">{{ countdown.days }} days, </span>
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_hours }">{{ countdown.hours }} hrs, </span>
      <span class="Countdown-digit" ng-class="{ 'is-disabled' : !countdown.has_minutes }">{{ countdown.minutes }} min, </span>
      <span class="Countdown-digit">{{ countdown.seconds }} sec </span>
    </div>
  </div>

  <div class="Countdown-play" ng-if="!countdown.isLive">
    <i class="icon-play-circled"></i>
  </div>

  <div ng-if="countdown.isLive">
    <h3 class="Countdown-title">We're live!</h3>

    <div class="Countdown-buttons">
      <span class="Countdown-button">Watch Online <i class="icon-play-circled"></i></span>
    </div>
  </div>

</a>