
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube-play:before { content: '\e802'; } /* '' */
.icon-git:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-play-circled:before { content: '\e806'; } /* '' */
.icon-headphones:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-dot-3:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-download:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-right-open-big:before { content: '\e80f'; } /* '' */
.icon-pinterest:before { content: '\e810'; } /* '' */
.icon-github:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-vimeo:before { content: '\e813'; } /* '' */
.icon-left-open-big:before { content: '\e814'; } /* '' */
.icon-vimeo-circled:before { content: '\e815'; } /* '' */
.icon-twitter-circled:before { content: '\e816'; } /* '' */
.icon-facebook-circled:before { content: '\e817'; } /* '' */
.icon-github-circled:before { content: '\e818'; } /* '' */
.icon-pinterest-circled:before { content: '\e819'; } /* '' */
.icon-share:before { content: '\e81a'; } /* '' */
.icon-share-1:before { content: '\e81b'; } /* '' */
.icon-apple:before { content: '\e81c'; } /* '' */
.icon-googleplay:before { content: '\e81d'; } /* '' */
.icon-amazon:before { content: '\e81e'; } /* '' */
.icon-itunes:before { content: '\e81f'; } /* '' */
.icon-male:before { content: '\e820'; } /* '' */
.icon-spotify-1:before { content: '\e821'; } /* '' */
.icon-female:before { content: '\e822'; } /* '' */
.icon-check:before { content: '\e823'; } /* '' */
.icon-check-empty:before { content: '\e824'; } /* '' */
.icon-chart-line:before { content: '\e825'; } /* '' */
.icon-chart-bar:before { content: '\e826'; } /* '' */
.icon-asl:before { content: '\e827'; } /* '' */
.icon-docs:before { content: '\e828'; } /* '' */