.DS_Store
/.env
.idea
/_release/*
!/_release/.gitkeep
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitkeep
/backend/vendor
/node_modules
/bower_components
/backend/temp
/temp
/public/build
/public/main
!/public/build/.gitkeep
Homestead.yaml
