/* 320px */
@image-sm-end: 20em;

/* 321px */
@image-md-start: 20.0625em;

/* 480px */
@image-md-end: 30em;

/* 481px */
@image-lg-start: 30.0625em;

/* 600px */
@image-lg-end: 37.5em;

/* 601px */
@image-xl-start: 37.5625em;