@import "cardinal";
@import "../main/mixins/link-color";
@import "../main/mixins/to-em";

@Nav-font-size: 16;
@Nav-width: 170;
@Nav-width-em: @Nav-width/@Nav-font-size;
@Nav-bg-color: #383d40;
@Nav-bg-color-active: #2d3134;
@Nav-color: #ccc;

.Layout {
  font-size: 0;
}

.Layout-nav,
.Layout-content {
  .to-rem(font-size, @Nav-font-size);
  display:        inline-block;
  min-height:     100vh;
  vertical-align: top;
}

.Layout-content {
  width:   ~"calc(100% - @{Nav-width-em}em)";
  padding: 2em;
}

.Layout-nav {
  width:            ~"@{Nav-width-em}em";
  background-color: @Nav-bg-color;
}

.Nav {
  color: #ccc;
}

.Nav-menu {
  margin:     0;
  padding:    0;
  list-style: none;
}

.Nav-item {
  display: block;
  margin:  0;
  padding: 0;
}

.Nav-link {
  .link-color(@Nav-color);
  .to-em(font-size, 14, @Nav-font-size);
  display:         block;
  padding:         0.9em 1.25em;
  text-decoration: none;

  .is-active > & {
    background-color: @Nav-bg-color-active;
  }
}