
.AfterTheFall-bg {
  background-attachment: fixed;
  background-size:       cover;
}

.AfterTheFall {
  .to-rem(padding, 50 20);
  .to-rem(max-width, 640);
  margin: 0 auto;
}

.AfterTheFall-videos {
  .to-rem(margin-left, 8);
  display: flex;
}

.AfterTheFall-video {
  .to-rem(padding-left, 8);
  flex-shrink: 1;
}