.StudiesTable {
  width: 100%;

  th,
  td {
    padding:     10px;
    cursor:      default;
    user-select: none;
  }

  th {
    font-size:      .7em;
    text-transform: uppercase;
    color:          #a7a7a7;
  }

  td {
    padding:    .5em;
    transition: .3s background-color ease-in-out;
    border-top: 1px solid #d8d8d8;
  }

  tr:hover td {
    background-color: #d2d2d2;
  }
}
