
.SubHeader {
  .to-rem(font-size, 24);
  .to-rem(max-width, 1310);
  .to-rem(margin, 0 60);
  .to-rem(padding, 20 0);
  display:       flex;
  border-bottom: 1px solid #d9d9d9;
  color:         #555;
}

.SubHeader-share {
  flex-grow:  1;
  text-align: right;
}

.SeriesBlank {
  .to-rem(padding, 190 40);
  text-align: center;
}

.SeriesBlank-title {
  .to-rem(font-size, 60);
  .to-rem(margin-bottom, 70);
  color: #555;
}

.SeriesList {
  .to-rem(margin, 0 60);
  color: #555;
}

.SeriesList-item {
  .to-rem(font-size, 22);
  .to-rem(max-width, 1310);
  .to-rem(padding, 26 0);
  display:       flex;
  border-bottom: 1px solid #d9d9d9;
}

.SeriesList-imageWrap {
  .to-rem(width, 380);
}