@CurrentSeries-font-size: @font-size;

.CurrentSeries {
  font-size: 0;
}

.CurrentSeries-thumbWrap,
.CurrentSeries-countdownWrap {
  .to-rem(font-size, @CurrentSeries-font-size);
  display:        inline-block;
  width:          100%;
  padding:        4% 4% 0;
  vertical-align: middle;
  text-align:     center;
}

/* 768px */
@media (min-width: 48em) {
  .CurrentSeries-thumbWrap {
    width:   36%;
    padding: 4% 0 4% 4%;
  }

  .CurrentSeries-countdownWrap {
    width: 64%;
  }
}

/* 1024px */
@media (min-width: 64em) {
  .CurrentSeries-thumbWrap,
  .CurrentSeries-countdownWrap {
    width: 50%;
  }
}

.CurrentSeries-countdownWrap {
  padding-top:    6%;
  padding-bottom: 6%;
}

.CurrentSeries-thumb {
  height:              0;
  padding-top:         ~"@{ratio-tall}%";
  overflow:            hidden;
  background-color:    #28292a;
  background-size:     cover;
  background-position: center;

  /* 570px */
  @media (min-width: 35.625em) {
    padding-top: ~"@{ratio-wide}%";
  }

  /* 760px */
  @media (min-width: 48em) {
    padding-top: 100%;
  }

  /* 1024px */
  @media (min-width: 64em) {
    padding-top: ~"@{ratio-tall}%";
  }
}
