.CurrentSeries {
  //  .to-rem(margin, @Card-gutter);
  //  margin: 1em;
}

.CurrentSeries {
  position:            relative;
  height:              0;
  padding-top:         90%;
  overflow:            hidden;
  background-size:     100% auto;
  background-position: top center;
  user-select:         none;
}

.CurrentSeries-link {
  position: absolute;
  z-index:  1;
  top:      0;
  left:     0;
  height:   100%;
  width:    100%;
}

// 430px
@media (min-width: 26.875em) {
  .CurrentSeries {
    padding-top: 80%;
  }
}

// Tall - 640px
@media (min-width: 40em) {

  .CurrentSeries {
    padding-top: 56.25%;
  }

}

/* 860px */
@media (min-width: 53.75em) {
  .CurrentSeries {
    padding-top: 24.9479167%;
  }
}


//1080px
@media (min-width: 67.5em) {
  .Countdown {
    font-size: 111%;
  }
}