@CurrentSeries-font-size: 32;

.CurrentSeries {
  font-size:           ~"@{font-size}px";
  position:            relative;

  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.CurrentSeries-buttons {
  .to-em(font-size, @CurrentSeries-font-size, @font-size);
}

.CurrentSeries-button {
  .to-rem(margin, 0 7 0 0);
  .to-rem(border-radius, 70);
  .to-em(min-width, 59, @CurrentSeries-font-size);
  .to-em(line-height, 50, @CurrentSeries-font-size);
  .to-em(border-width, 4, @CurrentSeries-font-size);

  display:        inline-block;
  border-style:   solid;
  border-color:   @root-text-color;
  text-transform: uppercase;

  text-align:     center;
  vertical-align: middle;

  cursor:         pointer;
  user-select:    none;

  &:before {
    vertical-align: middle;
  }

  & > i {
    .to-rem(font-size, 28);
  }

  &.icon-play {
    .to-rem(padding-left, 10);
    .to-rem(padding-right, 20);
  }
}

.CurrentSeries-buttonText {
  .to-em(font-size, 18, @CurrentSeries-font-size);
  display:        inline-block;
  vertical-align: middle;
}