.GridSection {
  &:extend(.Section all);
  &:extend(.Section--center all);
}

.GridSection-container {
  &:extend(.Container all);

  @media (min-width: 46.5rem) {
    .to-rem(padding, 0 @Container-padding-mobile);
  }
}

.GridSection-title {
  &:extend(.Section-title all);
  &:extend(.Section-title--push all);
  text-align: center;
}

.GridSection-text {
  &:extend(.text-constrain);

  .to-em(margin-top, -(90 - @line-height), @Section-font-size);
  .to-em(margin-bottom, 90, @Section-font-size);

  text-align: justify;

  &:empty {
    display: none;
  }

  .GridSection--center & {
    text-align: center;
  }

  .GridSection--compact & {
    &:extend(.text-constrain-compact);
  }
}