.StaffHeader {
  &:extend(.Hero all);

  // Gradient overlay
  &:after {
    content:    '';
    position:   absolute;
    top:        auto;
    bottom:     0;
    left:       0;
    width:      100%;
    height:     70%;
    background: linear-gradient(to bottom, transparent 0%, #000 100%);
  }
}

.StaffHeader-content {
  position: absolute;
  z-index:  2;
  bottom:   0;
  width:    100%;
}

.StaffHeader-titles {
  &:extend(.Container);
  margin-bottom: 3rem;
}

.StaffHeader-name,
.StaffHeader-title {
  margin: 0;
  color:  #fff;
}

.StaffHeader-name {
  .to-rem(font-size, 36);
  line-height: 1;
  font-weight: @font-weight-light;
}

.StaffHeader-title {
  .to-rem(font-size, 26);
  font-weight: @font-weight-light;
}

.StaffHeader-socialIcon {
  .link-color(#fff, @anchor-text-color);

  &:hover {
    text-decoration: none;
  }

  &:before {
    margin-left: 0;
  }
}